
    <div class="div-creer-promo sous-partie m-1 shadow-lg p-3 mb-5 bg-white rounded row">
       
        <div class="col-md-6">    
            <div class = "form-group">
                <label for = "exampleSelect1"> Choix de la langue *</label>
                <select class = "form-control" id = "exampleSelect1">
                  <option>Choisir la langue</option>
                  <option>Francais</option>
                  <option>Anglais</option>
                </select>
              </div>

            <div class = "form-group">
                <label for = "exampleInputEmail1"> Titre * </label>
                <input type = "text" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez le titre">
                <small id = "" class = "form-text text-muted">  </small>
                </div>

            <div class = "form-group">
                <label for = "exampleInputEmail1"> Description de propriété </label>
                <input type = "text" class = "form-control" id = "" aria-describedby = "" placeholder = "Description">
                <small id = "" class = "form-text text-muted"> </small>
            </div>

            <div class = "form-group">
                <label for = "exampleInputEmail1"> Date de debut</label>
                <input type = "date" class = "form-control" id = "" aria-describedby = "" placeholder = "Description">
                <small id = "" class = "form-text text-muted"> </small>
            </div>

        </div>

        <div class="col-md-6">
            <div class = "form-group">
                <label for = "exampleInputEmail1"> Lieu de la promotion </label>
                <input type = "" class = "form-control" id = "" aria-describedby = "" placeholder = "entrez le lieu">
                <small id = "" class = "form-text text-muted"> </small>
                </div>

            <div class = "form-group">
                <label for = ""> Reference agate </label>
                <input type = "text" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez la reference agate">
                <small id = "" class = "form-text text-muted"> </small>
                </div>

            <div class = "form-group">
                <label for = ""> choix de la fabrique </label>
                <input type = "text" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez le choix de fabrique">
                <small id = "" class = "form-text text-muted">  </small>
                </div>

            <div class = "form-group">
                <label for = ""> Date de fin </label>
                <input type = "date" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez le choix de fabrique">
                <small id = "" class = "form-text text-muted">  </small>
            </div>    

        </div>

    </div>

    <div class="div-creer-referentiel m-1 sous-partie shadow-lg p-3 mb-5 bg-white rounded row">
        
        <button type = "button" class = "btn btn-primary btn-lg m-1"> Developpeur.se web et web mobile
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Realiser un site internet a partir de wordpress
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Coder et deployer une application web simple
        </button>
        
        <button type = "button" class = "btn btn-primary btn-lg m-1"> Methode agile de gestion et amorcage de projet
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Referent digital
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Competence numerique fondamentale
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Technicien d'assistance informatique
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Technicien superieur systemes et reseaux
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Objets connectes
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Developpeur.se data
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Developpeur.se data et intelligence artificielle
        </button>

        <button type = "button" class = "btn btn-primary btn-lg m-1"> Analyse cybersecurite
        </button>

        <div class = "form-group">
            <label for = "exampleInputFile"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Entrée de fichier </font> </font> </label>
            <input type = "file" class = "form-control-file" id = "exampleInputFile" aria-describedby = "fileHelp">
            <small id = "fileHelp" class = "form-text text-muted"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Il s'agit d ' un texte au niveau du bloc d'espace réservé pour l'entrée ci-dessus. </font> <font style = "vertical-align: inherit;"> C'est un peu plus léger et s'enroule facilement dans une nouvelle ligne. </font> </font> </small>
          </div>
        
    </div>

    <div class="div-liste-apprenant sous-partie shadow-lg p-3 mb-5 bg-white rounded">
        
        <div class="row">
            <div class="col-md-9">

            </div>
            
            <div class="col-md-3">
                <button type = "button" class = "btn btn-outline-primary "> Charger fichier cvs 
                </button>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <p>Ajouter des apprenants <br/> *obligatoire</p>
                <p>Adresse email * <br/> Format: nom@domaine.com </p>
                <div class=" div-apprenant-connecte border border-primary">
                      
                    <div class = "card border-primary mb-3 m-2" style = "max-width: 20rem;">
                        <div class = "card-header"> nom@mail.com </div>
                      </div>

                      <div class = "card border-primary mb-3 m-2" style = "max-width: 20rem;">
                        <div class = "card-header"> nom@mail.com </div>
                      </div>
                      
                </div>
                <br/>
                <button type = "button" class = "btn btn-primary"> ajouter </button>
            </div>

            <div class="col-md-6">

                <p>Liste des apprenants</p>
                <div class="row">
                    <div class="col-md-4">
                        <p>02 apprenants en attente</p>
                    </div>
                    <div class="">
                        <button type = "button" class = "badge badge-pill badge-primary"> renvoyer toutes les invitations </button>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <p>example@mail.com</p>
                    </div>
                    <div class="col-md-6">
                        <button type = "button" class = "badge badge-pill badge-primary"> renvoyer l'invitation </button>
                    </div>
                </div>

                <div class="row">
                    
                    <div class="col-md-6">
                        <p>example@mail.com</p>
                    </div>

                    <div class="col-md-6">
                        <button type = "button" class = "badge badge-pill badge-primary"> renvoyer l'invitation </button>
                    </div>

                </div>

            </div>

        </div>
        
    </div>

    
