
    <div class="div-creer-promo sous-partie m-1 shadow-lg p-3 mb-5 bg-white rounded row">
        <table class = "table table-hover">
            <thead>
            <tr>
                <th scope = "col"> Avatar </th>
                <th scope = "col"> Nom </ th >
                <th scope = "col"> Prenom </ th >
                <th scope = "col"> Email </ th >
                <th scope = "col"> Profil </ th >
                <th scope = "col"> Actions </ th >
            </tr>
            </thead>
            <tbody>
            
            <tr class = "table-primary">
                <th scope = "row">  </th>
                <td> Diarra </td>
                <td> bmd </td>
                <td> nom@mail.com </td>
                <td> Apprenant </td>
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <th scope = "row">  </th>
                <td> Diarra </td>
                <td> bmd </td>
                <td> nom@mail.com </td>
                <td> Apprenant </td>
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>
            
            <tr class = "table-primary">
                <th scope = "row">  </th>
                <td> Diarra </td>
                <td> bmd </td>
                <td> nom@mail.com </td>
                <td> Apprenant </td>
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>
            
            <tr class = "table-primary">
                <th scope = "row">  </th>
                <td> Diarra </td>
                <td> bmd </td>
                <td> nom@mail.com </td>
                <td> Apprenant </td>
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <th scope = "row">  </th>
                <td> Diarra </td>
                <td> bmd </td>
                <td> nom@mail.com </td>
                <td> Apprenant </td>
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>

    <div class="div-creer-promo sous-partie m-1 shadow-lg p-3 mb-5 bg-white rounded row">
        <div class="col-md-6">    
            <div class = "form-group">
            <label for = ""> nom </label>
            <input type = "text" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez le nom">
            <small id = "" class = "form-text text-muted"></small>
            </div>

            <div class = "form-group">
                <label for = ""> prenom </label>
                <input type = "text" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez le prenom">
                <small id = "" class = "form-text text-muted"> </small>
                </div>

            <div class = "form-group">
                <label for = ""> Adresse Email </label>
                <input type = "email" class = "form-control" id = "" aria-describedby = "" placeholder = "Entrez l'email">
                <small id = "emailHelp" class = "form-text text-muted">  Nous ne partagerons jamais votre e -mail avec qui que ce soit.  </small>
                </div>
                <br/>

            <div class = "form-group">
                <label for = "exampleSelect1"> Profil </label>
                <select class = "form-control" id = "exampleSelect1">
                    <option> Choisi </option>
                    <option> Formateur </option>
                    <option> CM </option>
                    <option> Admin </option>
                    
                </select>
                </div>

                <button type = "button" class = "btn btn-primary btn-lg"> Soummettre </button>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">    
            <img src="./assets/images/logosonatelacademy2.png" class="rounded" alt="Cinque Terre">
        </div>

    </div>
