
    <div class="div-creer-promo sous-partie m-1 shadow-lg p-3 mb-5 bg-white rounded row">
        <table class = "table table-hover">
            <thead>
            <tr>
                <th scope = "col"> Libelle </th>
                <th scope = "col"> Actions </ th >
            </tr>
            </thead>
            <tbody>
            
            <tr class = "table-primary">
                
                <td> Developpeur back </td>
                
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <td> Developpeur Front </td>
                
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <td> Developpeur Fullstack </td>
                
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <td> Integrateur web </td>
                
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <td> Designer web </td>
                
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            <tr class = "table-primary">
                <td> Referent digital </td>
                
                <td> 
                   <a>  detail  </a>
                   <a>  modifier  </a>
                   <a>  supprimer  </a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>

