<div class="app-connec d-flex justify-content-center align-items-center rounded">

    <div class="div-page-connexion shadow row">

        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="div-logo">
                <img class="m-1" src="../../assets/images/logosonatelacademy2.png">
            </div>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <form>

            <div class = "form-group ">
                <label for = "exampleInputEmail1"> Adresse Email </label>
                <input type = "email" class = "form-control" id = "exampleInputEmail1" aria-describedby = "emailHelp" placeholder = "Entrez l'email">
                <small id = "emailHelp" class = "form-text text-muted">  Nous ne partagerons jamais votre e -mail avec qui que ce soit.  </small>
            </div>

            <div class = "form-group">
                <label for = "p"> Password </label>
                <input type = "password" class = "form-control" id = "p" aria-describedby = "" placeholder = "Entrez le password">
                
            </div>

            <button type = "button" class = "btn btn-primary btn-lg"> connexion </button>
            </form>

        </div>

    </div>

</div>