<div class="div-creer-promo sous-partie m-1 shadow-lg p-3 mb-5 bg-white rounded">
    <div>
        <div class = "form-group">
            <label for = "exampleInputEmail1"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Adresse e-mail </font> </font> </label>
            <input type = "email" class = "form-control" id = "exampleInputEmail1" aria-describedby = "emailHelp" placeholder = "Entrez l'email">
            <small id = "emailHelp" class = "form-text text-muted"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Nous ne partagerons jamais votre e -mail avec qui que ce soit. </font> </font> </small>
        </div>
        
        <div class = "form-group">
            <label for = "exampleTextarea"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Exemple de zone de texte </font> </font> </ label >
            <textarea class = "form-control" id = "exampleTextarea" rows = "3"> </textarea>
          </div>

    </div>

    <div class="">

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        

    </div>

</div>

<div class="div-creer-promo sous-partie m-1 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
        <div>
            
            <div class = "form-group">
                <label for = "exampleSelect1"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Exemple de sélection </font> </font> </label>
                <select class = "form-control" id = "exampleSelect1">
                  <option> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> 1 </font> </font> </option>
                  <option> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> 2 </font> </font> </option>
                  <option> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> 3 </font> </font> </option>
                  <option> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> 4 </font> </font> </option>
                  <option> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> 5 </font> </font> </option>
                </select>
              </div>

            <button type="button" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Super cool ceci</font></font></button>
            <br/>
            <button type="button" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Super cool ceci</font></font></button>
            <br/>
            <button type="button" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Super cool ceci</font></font></button>

        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

    </div>
</div>